@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
  :root{
      --dark: #161616;
      --primary:#3dcfd3;
      --light: #f2f2f2;
      --pure: #ffffff;
      --ternary: #303030;
  }
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1152px;
    margin: 0 auto;
    padding: 0 15px;
}
a{
    text-decoration: none;
}

/*--------Header------------*/
header{
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 90%, 0 100%);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}
header nav .left img{
    width: 6rem;
}
header nav .right ul{
    display:flex;
    align-items: center;
    list-style-type: none;
    position: relative;
}
header nav .right ul a{
    color: var(--pure);
    text-transform: uppercase;
    margin-right: 2rem;
    font-size: 1.3rem;
    transition: all 0.3s ease;
}


.animation{
    width: 0px;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -4px;
    background-color: var(--primary);
    transition: all 0.4s ease;
}
li:nth-child(1):hover ~ .animation{
    width:70px;
}
li:nth-child(2):hover ~ .animation{
    width:70px;
    left: 95px;
}
li:nth-child(3):hover ~ .animation{
    width:100px;
    left: 200px;
}
li:nth-child(4):hover ~ .animation{
    width: 150px;
    left:337px;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 4rem 0;
}
 .hero .hero-img{
     display: flex;
     justify-content: flex-end;
     margin-left: 40px;
     margin-bottom: 40px;
     transform: translate(-40px, -40px);
 }
.hero .hero-img img{
    width: 400px;
    height:auto;
    object-fit: cover;
    padding-bottom: 2rem;
    padding-left: 4rem;
    animation: anime1 5s linear infinite;
}
.hero .hero-content{
    flex: 1;
}
.hero .hero-content h1{
      font-size: 4rem;
      font-weight: 700;
      color: var(--pure);
      line-height: 1.2;
      margin-bottom: 2rem;
}
.hero .hero-content p{
    color: var(--light);
    line-height: 1.9;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}
.hero .hero-content .btn{
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 8rem;
}
.hero .hero-content .btn:hover{
    background-color: var(--primary);
    color: var(--dark);
}
/*------- Home Animation--------*/
@keyframes anime1{
    0%,100%{
        transform: translateY(18px);
    }
    50%{
        transform: translateY(-18px);
    }
}

/*-----About---------*/
section{
    padding-top: 4rem;
    padding-bottom: 6rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
.about .container{
    display: flex;
    background-color: var(--pure);
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.about .about-content{
    width: 500px;
}
.about .about-content h1{
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--dark);
}
.about .about-content h1 span{
    color: var(--primary);
}
.about .about-content p{
    color: var(--ternary);
    font-family: 'Lato', sans-serif;
    line-height: 1.9rem;
    font-size: 1rem;
}
.about .about-img{
    width: 350px;
}
.about .about-img img{
    width: 100%;
    animation: anime2 6s linear infinite;
}
/*------About animation-----*/
@keyframes anime2{
    /* 0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(100deg);
    } */
    /* 0%,100%{
        transform: scale(1);
    }
    50%{
        t5ransform: scale(1.1); */
        0%,100%{
            transform: translateY(15px);
        }
        50%{
            transform: translateY(-15px);
        }

}
/*--------Products Section part1-----------*/
.product1{
 background-color: var(--light);
 clip-path: polygon(0 0, 100% 0, 100% 100%, 72% 90%, 0 100%);
}
.slider{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product1 h1{
    color:#070606;
    text-align: center;
    margin-bottom: 4rem;
    line-height: 0.5;
    font-size: 2rem;
    margin-top: 1rem;
}
.product1 h1 span{
    color: var(--primary);
}
.product1 .box{
    width: 300px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 0 10px #dddde3;
    background-color: var(--pure);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin: 20px 10px;
}
.product1  .box img{
    width: 100%;
    height: 160px;
}
.product1 .slider{
    display: flex;
}
.product1 .details{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 250px;
}
.product1 .details #title1{
    font-size: 1.5rem;
    margin-bottom: 0.9rem;
}
.product1 .details #para1{
    color: var(--ternary);
}
/*--------Products Section part2-----------*/
.product2{
    background-color: var(--pure);
   }
   .slider1{
       display: flex;
       align-items: center;
       justify-content: center;
   }
   .product2 h1{
       color:#070606;
       text-align: center;
       margin-bottom: 4rem;
       line-height: 0.5;
       font-size: 2rem;
       
   }
   .product2 h1 span{
       color: var(--primary);
   }
   .product2 .box{
       width: 300px;
       height: 450px;
       border-radius: 10px;
       box-shadow: 0 0 10px #dddde3;
       background-color: var(--pure);
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-evenly;
       box-sizing: border-box;
       margin: 20px 10px;
   }
   .product2  .box img{
       width: 100%;
       height: 160px;
   }
   .product2 .slider1{
       display: flex;
   }
   .product2 .details{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 250px;
   }
   .product2 .details #title2{
       font-size: 1.5rem;
       margin-bottom: 0.9rem;
   }
   .product2 .details #para2{
       color: var(--ternary);
   }
   /*--------Product3----------*/
   .product3{
    background-color: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 72% 90%, 0 100%);
   }
   .slider2{
       display: flex;
       align-items: center;
       justify-content: center;
   }
   .product3 h1{
       color: var(--light);
       text-align: center;
       margin-bottom: 4rem;
       line-height: 0.5;
       font-size: 2rem;
       
   }
   .product3 h1 span{
       color: var(--primary);
   }
   .product3 .box{
       width: 300px;
       height: 450px;
       border-radius: 10px;
       box-shadow: 0 0 10px #dddde3;
       background-color: var(--pure);
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-evenly;
       box-sizing: border-box;
       margin: 20px 10px;
   }
   .product3  .box img{
       width: 100%;
       height: 160px;
   }
   .product3 .slider2{
       display: flex;
   }
   .product3 .details{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 250px;
   }
   .product3 .details #title3{
       font-size: 1.5rem;
       margin-bottom: 0.9rem;
   }
   .product3 .details #para3{
       color: var(--ternary);
   }
    /*--------Product4----------*/
    .product4{
        background-color: var(--pure);
       }
       .slider3{
           display: flex;
           align-items: center;
           justify-content: center;
       }
       .product4 h1{
           color: var(--dark);
           text-align: center;
           margin-bottom: 4rem;
           line-height: 0.5;
           font-size: 2rem;
           
       }
       .product4 h1 span{
           color: var(--primary);
       }
       .product4 .box{
           width: 300px;
           height: 450px;
           border-radius: 10px;
           box-shadow: 0 0 10px #dddde3;
           background-color: var(--pure);
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: space-evenly;
           box-sizing: border-box;
           margin: 20px 10px;
       }
       .product4  .box img{
           width: 100%;
           height: 160px;
       }
       .product4 .slider3{
           display: flex;
       }
       .product4 .details{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 250px;
       }
       .product4 .details #title4{
           font-size: 1.5rem;
           margin-bottom: 0.9rem;
       }
       .product4 .details #para4{
           color: var(--ternary);
       }
       /*----------ALTERNATIVES--------*/
       .alternative{
           background: var(--light);
           align-items: center;
           justify-content: center;
           display: flex;
           flex-direction: column;
       }
       .alternative p{
           color: #070606;
           font-size: 1.5rem;
           margin-bottom: 4rem;
       }
       .alternative .click{
           margin-left: 25rem;
       }
       .alternative a{
           background-color: var(--primary);
           color: #070606;
           padding: 1.6rem 3rem;
           font-size: 1.6rem;
           font-weight: 600;

       }

       /*--------Footer------------*/
       .footer{
           background-color: var(--dark);
           color: var(--light);
           padding: 2rem 6rem;
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
       }
       .footer .sources{
           margin-top: 2rem;
           margin-bottom: 2rem;
       }
       .footer .sources h3{
           font-size: 2rem;
       }
       .footer .sources .icons{
           padding-top: 0.8rem;
           padding-left: 6rem;
       }
       .footer .sources .icons img{
            width: 80px;
            height: auto;
       }
       .footer p{
           color: #898989;
       }
       /*---------Arrow-------------*/
       .arrow{
           right: 25px;
           bottom: 20px;
           position: fixed;
           width: 45px;
           height: 45px;
           cursor: pointer;
       }
       .arrow img{
           width: 100%;
           height: 100%;
           z-index: 1;
       }
       /*--------Hamburger-------*/
       .wrapper{
           position: relative;
       }
       .hamburger{
           position: absolute;
           top: 30px;
           right: 20px;
           z-index: 0;
           background: none;
           border: none;
           outline: none;
           cursor: pointer;
       }
       .mobile-nav{
           position: fixed;
           top: 0;
           left: 0;
           background: var(--light);
           z-index: 1001;
           width: 40%;
           height: 1000%;
           padding: 4rem;
           padding-top: 5rem;
           transform: translateX(-100%);
           transition: all 0.5s ease-in-out;
       }
       .close{
         position: fixed;
         top: 30px;
         right: 30px;
         border: none;
         outline: none;
       }
       .open{
           transform: translateX(0%);
       }
       .mobile-nav ul{
           list-style: none;
           text-align: center;
       }
       .mobile-nav ul li a{
           text-decoration: none;
           color: #070606;
           font-size: 4rem;
           
       }
       /*-------Media Queries----------*/

       @media (max-width: 1034px)
       {
           #home #nav{
            display: none;
           }
           .hamburger{
               z-index: 11;
           }
           .hero .hero-content {
               padding-top: 3rem;
           }
           .hero .hero-content h1{
               font-weight: 600;
           }
           .about .about-img{
               width: 250px;
               padding-top: 70px;
           }
           .about .about-img img{
               width: 100%;
           }
       }
       @media (max-width: 768px){
           .about .about-content{
               width: 300px;
           }
           .about .about-content h1{
               font-size: 3rem;
           }
           .about .about-img{
            width: 200px;
            margin-top: 50px;
        }
        .hero .hero-content h1{
            font-size: 3rem;
        }
        .hero .hero-content p{
            font-size: 1rem;
        }
        .hero .hero-content .btn{
            padding: 0.8rem 1.6rem;
            margin-bottom: 5rem;
        }
        .hero .hero-img img{
            width: 300px ;
        }
        .alternative{
            padding: 2rem 3rem;
        }
        .alternative p {
            font-size: 1.3rem;
        }
        .alternative .click a{
            padding: 0.8rem 2rem;

        }
        .alternative .click{
            margin-left: 10rem;
        }
        
       }
       @media (max-width:576px){
           .hero{
               flex-direction: column-reverse;
               padding: 2rem 0;
           }
           .hero .hero-content{
               margin-bottom: 4rem;
           }
           .hero .hero-img{
               margin-left: -20rem;
               margin-top: 1rem;
           }
           .hero .hero-img img{
               animation: none;
               width: 180px;
           }
           .about .container{
               flex-direction: column-reverse;
           }
           .about .about-content h1{
               margin-left: 3rem;
               font-size: 4rem;
               margin-bottom: 2rem;
           }
           .about .about-img img{
               animation: none;
               display: none;
           }
           .about .about-content{
               width: 350px;
           }
           .product1  h1{
               font-size: 1.5rem;
           }
           .product2  h1{
            font-size: 1.5rem;
        }
        .product3  h1{
            font-size: 1.3rem;
        }
        .product3{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 93%, 0 100%);
        }
        .product4  h1{
            font-size: 1.5rem;
        }
        .alternative .click{
            margin-left: 5rem;
            margin-bottom: 2rem;
        }
        .footer{
            padding: 2rem 2.5rem;
        }
        .footer .sources h3{
            font-size: 1.3rem;
        }
        .footer .sources .icons{
            margin-left: -3rem;
        }
        .footer .sources .icons img{
            width: 50px;
        }
        .footer p{
            margin-top: -1rem;
        }
        .arrow{
            right: -10px;
        }
        .arrow img{
            width: 30px;
        }

       }
@media (max-width:450px){
           .hero .hero-img{
               margin-top: 2rem;
               margin-left: -15rem;
           }
           .hero .hero-img img{
               width: 180px;
           }
           .about{
               padding: 2rem 0.5rem;
           }
           .about .about-content h1{
               font-size: 3rem;
               margin-left: 4rem ;
           }
           .product1 h1, .product2 h1, .product3 h1{
               font-size: 1.8rem;
               line-height: 1.1;
           }
           .alternative{
               padding: 2rem ;
           }
           .alternative p{
               font-size: 1.3rem;
               margin-bottom: 2.5rem;
           }
           .alternative .click{
               margin-left: 2rem;
           }
           .alternative .click a{
               padding: 0.5rem 1.6rem;
           }
           .product1, .product2, .product3, .product4{
               padding-top: 2rem;
               padding-bottom: 8rem;
               padding-left: 1rem;
               padding-right: 1rem;
           }
       }
    
       




